[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "FastAPIBig"
version = "0.1.3"
dependencies = [
    "Click",
    "FastAPI",
    "pydantic",
    "SQLAlchemy",
    "uvicorn",
    "asyncpg",
    "psycopg-binary",
    "aiosqlite"
]

[tool.setuptools.packages.find]
where = ["."]
include = ["FastAPIBig*"]

[project.scripts]
fastapi-admin = "FastAPIBig.cli:cli"
