[project]
name = "agentr"
version = "0.1.8"
description = "A python framework to build MCP servers"
readme = "README.md"
authors = [
    { name = "Manoj Bajaj", email = "manojbajaj95@gmail.com" }
]
requires-python = ">=3.11"
dependencies = [
    "loguru>=0.7.3",
    "mcp>=1.5.0",
    "pyyaml>=6.0.2",
    "typer>=0.15.2",
]

[project.optional-dependencies]
test = [
  "pytest>=8.3.5",
  "pytest-asyncio>=0.26.0",
]

[project.scripts]
agentr = "agentr.cli:app"


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
