[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"

[project]
name = "PAGEpy"
version = "1.0.4"
authors = [
  { name="Sean O'Toole", email="sean.otoole.bio@gmail.com" },
]
description = "Predictive Analysis of Gene Expression"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "MIT"
license-files = ["LICENSE"]

[project.urls]
Homepage = "https://github.com/sean-otoole/PAGEpy"
