
# Main
.commands {
    margin: 1;
}

# General
.uacc-select {
    width: 20;
    margin-bottom: 1;
}

.field-short-generic {
    width: 16;
    margin-bottom: 1;
}

.field-medium-generic {
    width: 64;
    margin-bottom: 1;
}

.field-long-generic {
    width: 128;
    margin-bottom: 1;
}

.action-button {
    margin-top: 1;
    margin-bottom: 1;
    margin-left: 1;
    align: center middle;
}

.installation-data {
    width: 120;
    margin-bottom: 1;
}

# Welcome
.welcome-message {
    
}

.welcome-suggestion-header {
    margin-left: 1;
}

.welcome-suggestion-button {
    width: 28;
    margin: 1;
}

# Dataset panel

# Resource panel
.class-field {
    width: 16;
    margin-right: 0;
}

.resource-name-field {
    margin-left: 0;
}

# Search panel
.search-field {
    width: 120;
    margin-bottom: 1;
}

.search-selector {
    margin: 1;
}

# Analysis panel
.analysis-confirm {
    margin: 1;
}

# User creation/modification panel
.username {
    width: 16;
    margin-bottom: 1;
}

.name {
    width: 32;
}

.password {
    width: 16;
}

.passphrase {
    width: 110;
}

.owner {
    width: 16;
    margin-bottom: 1;
}

ToggleButton > .toggle--button {
    display: none;
}

ToggleButton.-on > .toggle--button {
    color: $text-success;
}
