body {
    padding: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
}

header {
    margin: 10px 0px;
    text-align: center;
    height: 120px;
    line-height: 120px;
}

footer {
    margin: 10px 0px;
    text-align: center;
    height: 120px;
    line-height: 120px;
}

.main-row {
    display: flex;
    flex: 1 1;
    overflow: auto;
    width: 100%;
    margin: 10px;
    margin-left: 0px;
    /* background-color: purple; */
}

.col {
    padding: 0;
}

.parameters-column,
.layer-column,
.graph-column {
    margin: 0 !important;
    padding: 15px;
    background-color: rgb(50, 50, 50);
    margin-bottom: 0px;
    height: 100%;
    overflow: auto;
}

.layer-column {
    /* flex: 0 1 400px; */
    /* background-color: blue; */
}

.parameters-column {
    /* flex: 0 1 400px; */
    min-width: 400px;
    /* background-color: green; */
}

.graph-column {
    padding: 0px;
    margin: 0;
    flex: 1;
    min-width: 800px;
    /* background-color: orange; */
}


.layer-column .btn-secondary,
.parameters-column .btn-primary {
    width: 100%;
    margin-top: 10px;
}

.dash-dropdown * {
    background-color: rgb(70, 70, 70);
    color: white;
}

.dash-dropdown .Select-value-label {
    color: white !important;
}

.upload-data {
    background-color: rgb(0, 0, 0);
    border: 1px dashed rgb(240, 240, 240);
    padding: 10px;
    text-align: center;
}

.graph-container {
    background-color: burlywood;
    flex: 1;
    height: 90%;
}

#graph {
    background-color: rgb(0, 0, 0);
    height: 100%;
}